<!DOCTYPE html>
<html>
<head>
  <title>Index_of_Posts</title>
	<% @users.each do |user| %>
		<% if user.name %>
			<h3><%= user.name %></h3>
			<p><%= user.email %></p>
			<hr>
		<% end %>	
	<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
